.footer__column-link {
  display: block;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  transition: opacity .3s;
}

.footer__column-link:hover {
  opacity: .7;
}
