.feynman {
  background-image: url(/how-to-learn/images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
}
