.khan__buy-link {
  color: #2f80ed;
  vertical-align: top;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link::after {
  display: inline;
  content: " \2192";
}

